.header{
    background-color: #131921;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    /* z-index: 1; */
    z-index: 100;
}

.header__logo{
     object-fit: contain;
     width:100px;
     margin: 0 20px;
     margin-top: 18px;
     margin-bottom: 5px;
}
.header__search { 
     display: flex;
     flex: 1;
    }
 /* .header__search >input{
width: 350px;
}
@media only screen and (min-width:900px){
    .header__search >input{
width: 1000px;        
}
}  */
.header__searchInput{
    height: 15px;
    padding: 15px;
    border: none;
    width: 100%;
 
}
.header__searchIcon{
    background-color:#cd9042;
    padding: 5px;
    height: 30px !important;
}
.header__nav{
    display: flex; 
 }
.header__option>span{
    color: white;
    display: flex;
    margin: 0 12px;
   
    
}
.header__optionOne{
    font-size: 12px;
    color: gray;
    opacity: 0.8;
    text-decoration: none;
}
.header__optionTwo{
    font-size: 14px;
    font-weight: 800;
}
.header__optionBasket{
    display: flex;
    color: white;
    /* align-items: center; */
}
.header__optionBasket>span{
   margin:0 10px;
}